<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.ssu.edugochi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:name=".Edugochi"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.TimerService"
            android:enabled="true"
            android:exported="true"></service>
        <service android:name=".service.ScreenService"/>
        <receiver android:name=".service.ScreenReceiver"/>

        <activity android:name=".activity.HistoryActivity"/>
        <activity android:name=".activity.user.LoginActivity" />
        <activity android:name=".activity.user.SignUpActivity"/>
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddTodoActivity" />
        <activity android:name=".activity.MeasureActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask"/>

    </application>

</manifest>